# 02_연산자.ipynb

-연산자 opertator

## 산술 연산자

|연산자|내용|
|---|---|
|'+'|덧셈, 양수|
|' - '|뺄셈, 음수|
|'*'|곱셈|
|'/'|나눗셈|
|'//'|몫|
|'%'|나머지|
|'**'|거듭제곱|

In [5]:
# 2의 1000제곱
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [10]:
# 정수 - 정수 연산은 대부분 정수이지만, /는 실수가 나온다
x = 3/2
y = 4/2
z = 8%3
(x, y, z)

(1.5, 2.0, 2)

In [9]:
a = 100
-a, +a

(-100, 100)

## 비교 연산자

|연산자	|내용|
|--------|--------|
|>, <	|초과, 미만|
|>=, <=	|이상, 이하|
|==	|값이 같음|
|!=	|다르다|
|in	|포함여부|
|is	|동일하다|

In [ ]:
# 크고 작음
5 > 3
4 < 2
4 >= 4
3 <= 1
5 == 3 
4 != 2

3.5 - 3.12 == 0.38

'apple' == 'apple'
'apple' == 'Apple'

False

In [42]:
5 == 3  # F
4 != 2  # T
'apple' == 'banana'

False

In [43]:
# x in y -> y안에 x가 있는지

'i' in 'apple'  # False
3 in [1, 2, 3, 4]  # True

True

In [48]:
'ab' < 'ac'

True

In [ ]:
'i' in 'apple'  # false
3 in [1, 2, 3, 4, 5]    # true

True

## 논리 연산자

|연산자	|내용|
|-----------|-----------|
|and	|a and b -> a, b 모두 True일 경우에만 True
|or	|a or b -> a, b 모두 False일 경우에만 False
|not|not True -> 값을 뒤집는다

In [49]:
True and True
True and False
False and True
False and False

False

In [50]:
True or True
True or False
False or True
False or False

False

In [52]:
not True

False

### Short-Circuit Evaluation (단축평가)
- 앞에서 값이 확실시 되면, 그 뒤는 확인하지 않는다.
- 조건 판별시 뒷부분을 확인하지 않아도 됨

In [53]:
a = True and True and True and False and True and False
#     ?   ->  ?   ->   ?   ->   !  [종료, 뒤에 볼 필요 없음]
b = False or False or True or False
#     ?   ->  ?   ->   !

print(a, b)

False True

In [54]:
x = 1 and [] and 3 and 0 and 4
y = 0 or None or '' or [] or 1 or 10 or 'asdf'

print(x, y)

x = ''
# x가 값이 있으면, x를 사용
# x가 값이 없으면(''), 
x or '기본값'

[] 1

'기본값'

## 복합 연산자
- 연산 + 대입을 동시에 한다

|연산자	|내용|
|---------|-----|
|a += b|	a = a + b|
|a -= b|	a = a - b|
|a *= b|	a = a * b|
|a /= b|	a = a / b|
|a //= b|	a = a // b|
|a %= b|	a = a % b|
|a**= b	|a = a ** b|

In [55]:
x = 1
x = x + 1
x += 1
x

3

In [56]:
s = 'py'
s += 'thon'

s

'python'

In [44]:
# bmi 계산기
# bmi = 몸무게(kg) / 키(m) 제곱 2
# weight 에 몸무게, height 에 키를 저장하고 bmi 를 계산하기

weight = 70
height = 1.75
bmi = weight / (height ** 2)
print(bmi)

22.857142857142858

In [ ]:
# 원 넓이와 둘레 계산 (pi 는 3.14 로 계산)
# 원 넓이 = pi x r^2
# 원 둘레 = 2 x pi x r

from math import pi

r = 3
pi = 3.14

a = pi * (r ** 2)
c = 2 * pi * r

print(a, c)

28.26 18.84

In [ ]:
# 초를 시간, 분, 초 로 바꾸기
# 계산을 통해 h, m, s 에 시간, 분, 초로 전환

seconds = 3675  # 1시간 1분 15초

time = seconds // 3600
minute = seconds % 3600 // 60
seconds = seconds % 3600 % 60
print(time, minute, seconds)

1 1 15

In [47]:
# 계산을 통해 h, m, s 에 시간, 분, 초로 전환
seconds = 3661  # 예시: 1시간 1분 1초

divmod = seconds // 3600
seconds %= 3600
m %= 60

NameError: name 'm' is not defined

In [41]:
# 세자리 수 분리하기
# 숫자를 백, 십, 일의 자리로 분리하여 변수에 저장하기

n = 472  

hund = n // 100
ten = n % 100 // 10
one = n % 10

print(hund, ten, one)

4 7 2