In [ ]:
# 03_container.ipynb

- 데이터를 여러 개를 한번에 저장하는 방식

In [ ]:
# LIST

In [9]:
numbers = [10, 20, 30, 40, 50]  # 데이터 감싸는 괄호

numbers  # 리스트 출력

numbers[0]  # 첫 번째 요소 접근, index는 0 부터 시작 (길이는 0부터 리스트 길이 -)까지

numbers[2]  # 세 번째 요소 접근

numbers[-1]  # 마지막 요소 접근, 음수 인덱스는 뒤에서부터 접근

numbers[-2 ]  # 뒤에서 두번째 요소 접근

numbers[5] # 인덱스 범위를 벗어나면 오류 발생

# 불가능 (인덱스 범위 잘못된)
# numbers[5]  # 인덱스 범위를 벗어나면 오류 발생
# numbers[-6]  # 인덱스 범위를 벗어나면 오류 발생

IndexError: list index out of range

In [16]:
# 슬라이싱 [x:y]  x부터 y-1까지
numbers[0:3]  # 인덱스 0부터 3까지 (3은 포함 안함)
numbers[1:1]  # 인덱스 1부터 1까지 (빈 리스트 반환)
numbers[0:5]  # 인덱스 0부터 5까지 (5는 포함 안함)
numbers[:3]   # 비어있음 : 끝부터
numbers[2:]   # 처음부터 : 2까지
numbers[:]    # 처음부터 끝까지 모두

# 값은 같다
numbers == numbers[:]
# 같은 존재냐?
numbers is numbers[:]

[10, 20, 30, 40, 50]

In [24]:
# 리스트 수정 (재할당)
numbers = [10, 20, 30, 40, 50]

# 특정 index(위치)의 데이터 바꾸기
numbers[2] = 300  # 첫 번째 요소를 100으로 변경
numbers[-1] = 500  # 마지막 요소를 500으로 변경

numbers  # 수정된 리스트 출력

# 리스트에 데이터 추가하기
numbers.append(60)

print(numbers)  # 60이 추가된 리스트 출력

# 리스트의 데이터 삭제
numbers.pop(-1)
print(numbers)  # 마지막 요소가 삭제된 리스트 출력

[10, 20, 300, 40, 500, 60]
[10, 20, 300, 40, 500]

## 범위(range)

In [34]:
# range 는 처음부터 마지막 -1까지의 정수만을 의미
r1 = range(1, 10)
# 눈으로 보려면, 리스트로 바꿔줘야 함
print(list(r1))

2.4 in r1

r2= range(5)  # 시작을 쓰지 않으면 자연스럽게 0부터 시작
print(list(r2))

#Step
r3 = range(0, 10, 2) # 0부터 10까지 2씩 증가
print(list(r3))

# 음수 Step (뒤로 가기) = 첫번째는 시작, 두번째는 마지막 지점을 의미 (방향 + 스텝)
r4 = range(0, 5, -1)  # 4부터 0까지 1씩 감소
print(list(r4))

r5 = range(5, 0, -1)  # 4부터 0까지 1씩 감소
print(list(r5))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]
[]
[5, 4, 3, 2, 1]

## Dictionary (딕셔너리, Dict)
key-value

- Json의 뜻은 JavaScript Object Notation의 줄임말
    - [JS 언어의 object자료형 식 표기법(" 써야 함)]
- python에는 dict 자료형이 존재

In [37]:
# 생성

me = {
    'name' : '김광주',
    'age' : 30,
    'is_hungry' : True,
    'height' : 175.5,
    'skills': ['Python', 'n8n', 'sql']

}

In [40]:
# 접근 -> 대괄호 안에 key 를 쓴다.
me['name']

# python을 가져오려면

me['skills'][0]

'Python'

In [47]:
# 변경
me['name'] = '김새싹'
me['is_hungry'] = False
me['skills'].append('git')

print(me)

{'name': '김새싹', 'age': 30, 'is_hungry': False, 'height': 175.5, 'skills': ['Python', 'n8n', 'sql', 'git', 'git', 'git']}

In [53]:
# DICT K-V 추가

me['money'] = 10000

me

# K-V 삭제
me.pop('height')
me

{'name': '김새싹',
 'age': 30,
 'is_hungry': False,
 'skills': ['Python', 'n8n', 'sql', 'git', 'git', 'git'],
 'meney': 10000,
 'money': 10000}

Set(집합)    {    }써야 함
- 중복되는 요소가 없다.
- 순서(index)가 없다.

In [64]:
s1 = {1, 1, 2, 3, 3, 3}
s2 = {3, 4, 5, 5}
s1, s2

# 합집합
print(s1|s2)

# 교집합
print(s1 & s2)

# 차집합
print(s1 - s2)

list(s1)  # 바꿔서 편하게 쓰기 가능(set을 list로 변환)

# 중복이 많은 리스트에서 중복을 제거하는 용도로 많이 쓰임
ll = [1, 1, 2, 3, 3, 3, 44, 34, 5, 25, 25, 55, 43, 43, 43, 43, 43]
ss = set(ll)
ll = list(ss)
ll.sort()
ll

{1, 2, 3, 4, 5}
{3}
{1, 2}

[1, 2, 3, 5, 25, 34, 43, 44, 55]

## 튜플(Tuple)
- 리스트 친척
- 순서(index)가 있음
- 리스트와 차이: 수정 불가능
- 직접 쓰기보다는 python 내부에서 많이 쓰임

In [67]:
t = (10, 20, 30, 40, 50)  # 튜플 생성
t[0:3]  # 튜플의 첫 번째 요소 접근

(10, 20, 30)

In [ ]:
# t[0] = 100  # 튜플은 수정 불가능 (immutable)
#t.append(60)  # 튜플은 수정 불가능 (immutable)

In [73]:
list(s1)  # 바꿔서 편하게 쓰기 가능(set을 list로 변환)

# 중복이 많은 리스트에서 중복을 제거하는 용도로 많이 쓰임
ll = [1, 2, 1, 4, 13, 15, 9, 9, 8, 2, 3, 3, 3, 44, 34, 5, 25, 25, 55, 43, 43, 43, 43, 43]
ss = set(ll)
ll = list(ss)
ll

[1, 2, 3, 4, 34, 5, 8, 9, 43, 44, 13, 15, 55, 25]